body, h1{
    margin: 0;
}
h1{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
    vertical-align: bottom;
}
@media screen and (min-width: 960px) {
    h1{
        padding-top: 47.5vh;
    }
    .bg-pc{
        height: 100vh !important;
    }
}
.bg_01{
    background-image: url(./kamikochi01.jpg);
    background-size: cover;
}
.bg_02{
    background-image: url(./kamikochi02.jpg);
    background-size: cover;
}
